



<div class ="container-fluid adjusttop">
 <div class="row">   
      <div class="col-sm-6 productright">       
             
          <h3>Add Product Form</h3>
          <form [formGroup]="angForm" (ngSubmit)="AddProducts()">
              <div class="form-group">
                  <label>Product Name</label>
                  <input type="text" formControlName="pk_name" [(ngModel)]="pk_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pk_name.errors }" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' autofocus="true" autocomplete="off" placeholder="Enter Product Name" required/>
                  <div *ngIf="submitted && f.pk_name.errors" class="invalid-feedback">
                      <div *ngIf="f.pk_name.errors.required">Product Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Brand</label>
                  <input type="text" formControlName="pk_brand" [(ngModel)]="pk_brand" class="form-control" placeholder="Enter Brand Name" [ngClass]="{ 'is-invalid': submitted && f.pk_brand.errors }" required/>
                  <div *ngIf="submitted && f.pk_brand.errors" class="invalid-feedback">
                      <div *ngIf="f.pk_brand.errors.required">Brand</div>
                  </div>
                  </div>

                  <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" formControlName="pk_quant"  [(ngModel)]="pk_quant" class="form-control" placeholder="Enter Quantity " [ngClass]="{ 'is-invalid': submitted && f.pk_quant.errors }" required/>
                    <div *ngIf="submitted && f.pk_quant.errors" class="invalid-feedback">
                        <div *ngIf="f.pk_quant.errors.required">Quantity</div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label>Amount</label>
                      <input type="number" formControlName="pk_price"  [(ngModel)]="pk_price" class="form-control" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': submitted && f.pk_price.errors }" required/>
                      <div *ngIf="submitted && f.pk_price.errors" class="invalid-feedback">
                          <div *ngIf="f.pk_price.errors.required">Amount</div>
                      </div>
                      </div>

                      <div class="form-group">
                        <button class="btn btn-primary">ADD</button>
                    </div>
          </form>



     </div> 
         <div class="col-sm-6 tableleft">         
                                               
  <div class="table-responsive table-wrapper-scroll-y">          
    <table class="table">
      <thead>
        <tr>
          <th> Product ID </th>  
           <th> Product Name </th>
            <th> Brand </th> 
            <th> Quantity </th>
             <th> Price </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of myarray">
          <td>{{ obj[0] }}</td>
          <td>{{ obj[1] }}</td>
          <td>{{ obj[2] }}</td>
          <td>{{ obj[3] }}</td>
          <td>{{ obj[4] }}</td>
          </tr>
      </tbody>
    </table>
    </div>
        
     
        </div>
      </div>
      <ngx-spinner></ngx-spinner>
  
     
 