.table-wrapper-scroll-y {
    // display: block;
    // max-height: 400px;
    // overflow-y: auto;
    // -ms-overflow-style: -ms-autohiding-scrollbar;
    height:600px;
    overflow-y:scroll;
    width: 100%;
    
    }

.adjusttop{
    padding-top:10%
}
.productright{
    padding-left: 5%;
}
.tableleft{
    padding-right: 5%
}


