


      <br><br><br><br><br><br><br><br><br><br>

      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3 productright">    
                      
                   
            </div> 
                
                
      
              <div class="col-sm-6 tableleft">         
                                                     
                  <div class="table-responsive table-wrapper-scroll-y">          
                    <table class="table">
                      <thead>
                        <tr>
                            <th> order ID </th> 
                            <th> customer ID </th> 
                          <th> Product ID </th>
                           <th> Product Name </th>
                            <th> Brand </th> 
                            <th> Quantity </th>
                             <th> Price </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of myarray">
                          <td>{{ obj[0] }}</td>
                          <td>{{ obj[2] }}</td>
                          <td>{{ obj[1] }}</td>
                          <td>{{ obj[3] }}</td>
                          <td>{{ obj[4] }}</td>
                          <td>{{ obj[5] }}</td>
                          <td>{{ obj[6] }}</td>
                
                          </tr>
                      </tbody>
                    </table>
                    </div>
                        
                     
        
              
           
              </div>
            </div>
            <ngx-spinner></ngx-spinner>
             
      </div>
      
      
          
             
      
      
      
            
      